<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center" mt-5>
        <h1>Sign In</h1>
      </v-flex>
      <v-flex xs12 sm6 offset-sm3 mt-3>
        <form>
          <v-layout column>
            <v-flex>
              <v-text-field id="email" name="email" label="Email" type="email" required />
            </v-flex>
            <v-flex>
              <v-text-field
                id="password"
                name="password"
                label="Password"
                type="password"
                required
              />
            </v-flex>
            <v-flex class="text-xs-center" mt-5>
              <v-btn color="primary" type="submit">
                Sign In
              </v-btn>
              <v-btn color="primary" type="submit">
                Sign Up
              </v-btn>
              <v-btn color="primary" @click.native="googleLogin">
                Sign In With Google
              </v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  middleware: 'autenticado', // comprueba si está autenticado con el middleware autenticado.js
  data: () => ({}),
  computed: {
    ...mapGetters('user', ['logged']),
    ...mapState('user', ['main'])
  },
  watch: {
    logged: {
      immediate: true,
      handler(logged) {
        if (logged) this.next()
      }
    }
  },

  methods: {
    googleLogin() {
      this.$store.dispatch('signInWithGoogle').catch(e => {})
    },
    next() {
      this.$router.push(this.main)
    }
  }
}
</script>
