<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center" mt-5>
        <h1>Write Message</h1>
      </v-flex>
      <v-flex xs12 sm6 offset-sm3 mt-3>
        <form>
          <v-layout column>
            <v-flex>
              <v-textarea id="message" name="message" label="Message" required />
            </v-flex>

            <v-flex>
              <v-text-field
                v-model="imageName"
                label="Select FIle"
                prepend-icon="attach_file"
                @click="pickFile"
              />
              <input
                ref="file"
                type="file"
                style="display: none"
                accept="image/*"
                @change="onFilePicked"
              >
            </v-flex>

            <v-flex class="text-xs-center" mt-5>
              <v-btn color="primary" type="submit">
                Write
              </v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  methods: {
    pickFile() {
      this.$refs.file.click()
    },

    onFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0]
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    }
  }
}
</script>
