<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center" mt-5>
        <h1>Sign Up</h1>
      </v-flex>
      <v-flex xs12 sm6 offset-sm3 mt-3>
        <form>
          <v-layout column>
            <v-flex>
              <v-text-field id="name" name="name" label="Name" type="text" required />
            </v-flex>
            <v-flex>
              <v-text-field id="email" name="email" label="Email" type="email" required />
            </v-flex>
            <v-flex>
              <v-text-field
                id="password"
                name="password"
                label="Password"
                type="password"
                required
              />
            </v-flex>
            <v-flex>
              <v-text-field
                id="rpassword"
                name="rpassword"
                label="Repeat Password"
                type="password"
                required
              />
            </v-flex>
            <v-flex class="text-xs-center" mt-5>
              <v-btn color="primary" type="submit">
                Sign Up
              </v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>
